{% extends "base.html" %}
{% block conteudo %}

<div class="container py-5">

   <!--main-->
   <h6>{{ saudacao() }}</h6>
   <h1>{{ titulo }}</h1>
   <h1>{{ subtitulo }}</h1>
   <!--<p>{{ descricao }}</p>
   <p>data: {{data}}</p> -->

   <div class="row">
      <div class="col-lg-9 col-md-12">
            <!--Colocar os If's aqui (ISto verifica se a categoria tem posts e contabiliza)-->
            {% if posts is empty %}
            <div class="alert alert-warning" role="alert">
               <h4 class="alert-heading">Não existem categorias registadas</h4>
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
               <h4 class="alert-heading">Existem {{ posts|length }} categoria(s) registadas</h4>
            </div>
            {% endif %}

               <div class="row">

               {% for post in posts %}
               <div class="col-md-6">
                  <div class="card mb-4">
                     <div class="card-body py-3 px-3">
                        <h5 class="card-title">{{ post.Titulo}}</h5>
                        <p class="card-text">{{ post.Texto | slice(0, 200) ~'...'}}</p>
                        <a href="{{ url('post/'~post.ID)}}" class="btn btn-outline-danger">Ler mais...</a>
                     </div>
                  </div>
               </div>
                {% endfor %}
               </div>
      </div>
<!--sidebar-->
 <div class="col-lg-3">
    {% include 'sidebar.html' %}
 </div>
</div>

{% endblock %}