<footer class="py-5" style="background-color: 
#dc3545;">
    <div class="row text-white px-4">
        <div class="col-6 col-md-2 mb-3">
            <h5>Menu</h5>
            <ul class="nav flex-column text-white">
                <li class="nav-item mb-2"><a href="{{ url()}}" class="nav-link p-0 text-white">Home</a></li>
                <li class="nav-item mb-2"><a href="{{ url('sobre')}}" class="nav-link p-0 text-white">Sobre</a></li>
                <li class="nav-item mb-2"><a href="{{ url()}}" class="nav-link p-0 text-white">Categorias</a></li>
                <li class="nav-item mb-2"><a href="{{ url('contato')}}" class="nav-link p-0 text-white">Contato</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5>Area restrita</h5>
            <ul class="nav flex-column text-white">
                <li class="nav-item mb-2"><a href="{{ url('login')}}" class="nav-link p-0 text-white">Login</a></li>
                <li class="nav-item mb-2"><a href="{{ url('registo')}}" class="nav-link p-0 text-white">Registo</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5>Promoções</h5>
            <ul class="nav flex-column text-white">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">A implementar</a></li>
            </ul>
        </div>
        <div class="col-md-5 offset-md-1 mb-3">
            <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2 text-white"> <label for="newsletter1"
                        class="visually-hidden">Email address</label> <input id="newsletter1" type="email"
                        class="form-control" placeholder="Email address"> <button class="btn btn-primary"
                        type="button">Subscribe</button> </div>
            </form>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 px-4 border-top">
        <p>&copy;¨{{ "now"|date("d/m/y") }}, {{ constant ('SITE_NOME')}}</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Instagram">
               <i class="bi bi-instagram"></i>
                
                </a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Facebook">
                <i class="bi bi-facebook"></i>
              </a></li>
        </ul>
    </div>
</footer>